<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Table of Contents</title>
  </head>
  <body>
    <% @pages_by_section.each do |section, pages| %>
      <h1><%= section %></h1>
      <ul>
        <% pages.each do |page| %>
          <li><a href='<%= page[:file_name] %>'><%= page[:title] %></a></li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
