<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Table of Contents</title>
  </head>
  <body>
    <h1>Contents</h1>
    <h4>Main section</h4>
    <ul>
      <% pages.each do |page| %>
        <li><a href='<%= page[:file_name] %>'><%= page[:title] %></a></li>
      <% end %>
    </ul>
  </body>
</html>
